.second-container {
    background: url("../../../../Assets/Images/banner-02-kr.png") no-repeat center;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 110%;
    background-color: black;
    overflow: hidden;
    .first_content {
        position: absolute;
        top: 50px;
        left: 100px;
        color: #fff;
        font-family: "NotoSansCJKkr-Bold";
        p {
            line-height: 24px;
            font-weight: 600;
            font-size: 21px;
        }
    }
    .second-page-text-area {
        color: white;
        max-width: 1322px;
        line-height: 1.18;
        font-size: 67px;
        font-weight: bold;
        visibility: hidden; //done
        .laguage-ko {
            p {
                &:nth-child(1),
                &:nth-child(4) {
                    letter-spacing: 8px;
                }
                &:nth-child(3) {
                    letter-spacing: -9px;
                }
                &:nth-child(5) {
                    letter-spacing: -4px;
                }
            }
            .text {
                font-family: "NotoSansCJKkr-Bold";
            }
        }
        .text {
            letter-spacing: 0.67px;
            font-size: 67px;
            font-weight: bold;
            color: white;
        }
        .inline-text {
            display: inline;
        }
        .text-yellow {
            font-size: 67px;
            color: #ff9933;
            font-weight: bold;
        }
        .spacing-one {
            letter-spacing: -1px;
        }
        .spacing-two {
            letter-spacing: 1.7px;
        }
        .spacing-three {
            letter-spacing: -0.1px;
        }
        .spacing-four {
            letter-spacing: -1.3px;
        }
    }
}

@media screen and (max-width: 1540px) and (min-width: 988px) {
    .second-container {
        .second-page-text-area {
            color: white;
            visibility: hidden;
            max-width: 900px; // sửa thành page-second-text-area hay là text-area anh? :v để để nguyên thử
            .text {
                letter-spacing: 3px;
                font-size: 40px;
                font-weight: bold;
            }
            .text-yellow {
                font-size: 40px;
                color: #ff9933;
                font-weight: bold;
            }
        }
    }
}

@media screen and (max-width: 987px) and (min-width: 584px) {
    .second-container {
        .second-page-text-area {
            color: white;
            line-height: 50px;
            max-width: 80%;
            margin: 0 auto;
            .text {
                letter-spacing: 3px;
                font-size: 35px;
                font-weight: bold;
            }
            .text-yellow {
                font-size: 35px;
                color: #ff9933;
                font-weight: bold;
            }
        }
    }
}

@media screen and (max-width: 483px) {
    .second-container {
        .text-area {
            line-height: 0.5;
            color: white;
            max-width: 300px;
            .text {
                letter-spacing: 2px;
                font-size: 20px;
                font-weight: bold;
            }
            .text-yellow {
                font-size: 20px !important;
                color: #ff9933;
                font-weight: bold;
            }
        }
    }
}
