@import '../../../../Assets/Style/Varialble.scss';

.first-container {
    height: 100vh;
    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        background-size: cover;
        background-position: center;
        top: 0;
        left: 0;
    }
    .logo {
        position: absolute;
        top: 50px;
        //left: 100px;
        h3 {
            color: black;
            text-transform: uppercase;
        }
    }
    .content-container {
        position: relative;
        //padding-left: 10%;
        top: 40%;
        .title {
            font-weight: bold;
            font-size: 5vw;
            color: #1a2a59;
            text-align: left;
        }
        .subTitle {
            margin-top: 0.8rem;
            color: #222;
            font-weight: 300;
            text-align: left;
        }
        .note {
            color: #222;
            font-weight: 300;
            text-align: left;
        }
    }
    .content-container.en {
        .subTitle, .note {

            font-family: "Roboto Light", sans-serif;

        }
    }
    .content-container.ko {
        .subTitle, .note {
            font-family: noto-sans-cjk-kr, sans-serif;
        }

    }
}


@media (max-width: 600px) {

    .content-container {
        .subTitle {
            width: 20%;
        }
        .note {

        }
    }
}
@media (max-width: 800px) {

    .content-container {
        .subTitle {
            width: 35%;
        }
        .note {
            margin-top: 5rem;
        }
    }
}
@media (max-width: 768px) {

    .content-container {
        .subTitle {
            width: 70%;
        }
        .note {

        }
    }
}

@media (max-width: 1024px) {
    .logo {
        left: 60px;
    }
    .content-container {
        padding-left: 15%;
        width: 40%;
        .subTitle, .note {
            width: 70%;
        }
        .note {
            margin-top: 5rem;
        }
    }
}
@media (min-width: 1025px) {
    .logo {
        left: 100px;

    }
    .content-container {
        width: 30%;
        padding-left: 10%;
        .subTitle {
            width: 80%;
            font-size: 1.2rem;
        }
        .note {
            font-size: 1.2rem;
            margin-top: 6.25rem;
        }
    }
}
